@import "@/global/global.scss";
.costom {
  position: relative;
  display: flex;
  // align-items: center;
  justify-content: center;
  width: 100vw;
  height: 150rpx;
  line-height: 200rpx;
  background-color: #ccc;
}

.back {
  position: absolute;
  left: $ScreenPadding;
  top: 75rpx;
  width: 50rpx;
  height: 50rpx;
  translate: 0 -20%;
  image {
    width: 100%;
    height: 100%;
  }
}
