.image {
  width: 100rpx;
  height: 50rpx;
}
.avatar {
  width: 50rpx;
  height: 50rpx;
  background: url("../../assets//image//avatar.svg") no-repeat;
  background-size: 100% 100%;
}

.list {
  width: calc(100% - 96rpx);
  padding: 0 48rpx;
}
